/* Define CSS custom variables for theming throughout the app */
:root {
  --secondary-color: #042c62;
  --dark-backround: #010b19;
  --very-dark-backround: black;
  --main-color: #05377b;
  --deep-color: #03214a;
}

/* Reset margins, paddings, and box model for all elements */
*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Default body styling */
body{
  background-color: var(--dark-backround);
}

/* Main app container styling */
.app{
  height: auto;
  overflow: hidden;
  background-color: var(--dark-backround);
}

/* Styles for containers holding sign-up or sign-in forms */
div:has(.sign-up-container),
div:has(.sign-in-container){

    background-color: var(--dark-backround);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: auto;
}

div:has(.recordings-decoration){
  background-color: var(--dark-backround);
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: relative;
    overflow: auto;
}
/* Styles for meeting container section */
div:has(.meeting-container){
  background-color: var(--dark-backround);
  overflow: auto;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--dark-backround);
}

::-webkit-scrollbar-thumb {
  background-color: var(--dark-backround);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {

  background-color: var(--deep-color);

}

