:root {
  --blue: #3d52a0;
  --medium-blue: #7091e6;
  --grey: #8697c4;
  --light-grey: #adbbda;
  --light-bez: #ede8f5;
}

body{
  background: linear-gradient(0.25turn, var(--medium-blue), var(--grey));
}

.main-body{
  padding: 2rem;
  background-color: var(--light-bez);
  display: flex;
 
}

@media (max-width: 750px) {
  .main-body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
