:root {
  --blue: #3d52a0;
  --medium-blue: #7091e6;
  --grey: #8697c4;
  --light-grey: #adbbda;
  --light-bez: #ede8f5;
}

*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.app{
  height: 100vh;
}

div:has(.sign-up-container),
div:has(.sign-in-container){
  background-color: #080710;
}

div:has(.meeting-container){
  background-color: var(--light-bez);
}

