:root {
  --blue: #3d52a0;
  --medium-blue: #7091e6;
  --grey: #8697c4;
  --light-grey: #adbbda;
  --light-bez: #ede8f5;
}

body{
  background-color: var(--light-bez);
}

.main-body{
  padding: 2rem;
  background-color: var(--light-bez);
  display: flex;
  flex-wrap: wrap;
}