/* Ensures that the body and HTML elements adapt to video call components */
body:has(.str-video),
html:has(.str-video) {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: sans-serif;
}

/* Base styles for the video call container */
.str-video {
  
  color: #ffffff;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  
}

/* Responsive styles for smaller screens */
@media (max-width: 750px) {
    .str-video {
      width: 100%;
      height: 70vh;
    }
  }

/* Styles for the call controls section */
.str-video__call-controls{
    display: flex;
    flex-wrap: wrap;
}


