/* Ensures that the body and HTML elements adapt to video call components */
body:has(.str-video),
html:has(.str-video) {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: sans-serif;
}

/* Base styles for the video call container */
.str-video {
  
  color: #ffffff;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  
}

/* Responsive styles for smaller screens */
@media (max-width: 750px) {
    .str-video {
      width: 100%;
      height: 70vh;
    }
  }

/* Styles for the call controls section */
.str-video__call-controls{
    display: flex;
    flex-wrap: wrap;
}


.invite-button {
  background-color: #4caf50; /* Light green background */
  color: white; /* White text */
  border: none; /* Remove border */
  border-radius: 50%; /* Make the button circular */
  width: 40px; /* Set width */
  display: flex; /* Center content */
  align-items: center;
  justify-content: center;
  cursor: pointer; /* Pointer cursor on hover */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add slight shadow */
  font-size: 18px; /* Adjust font size */
  transition: background-color 0.2s ease; /* Smooth color transition */
}

.invite-button:hover {
  background-color: #7cb87f; /* Slightly lighter green on hover */
}

.invite-button:active {
  background-color: #388e3c; /* Darker green on click */
}

.invite-button:focus {
  outline: none; /* Remove focus outline */
}
