body:has(.str-video),
html:has(.str-video) {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: sans-serif;
}

.str-video {
  
  color: #ffffff;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  
}

@media (max-width: 750px) {
    .str-video {
      width: 100%;
      height: 70vh;
    }
  }
  
.str-video__call-controls{
    display: flex;
    flex-wrap: wrap;
}