.chat-app{
  width: 20%;
  margin: 1rem;
  border-radius: 10px;
  background-color: var(--dark-backround);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;  
  
  flex-shrink: 1;
  min-width: 200px;
}

@media (max-width: 750px) {
  .chat-app {
    width: 100%;
    min-height: 200px;
    overflow: hidden;
    display: none;
  }
}

.messages{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow: auto;
  width: 100%;
  height: 90%;
  max-height: 90vh;
  flex-grow: 0;
  background-color: var(--dark-backround);
  border-radius: 10px;
}

.messages > div  {
  background-color: var(--main-color);
  width: fit-content;
  max-width: 90%;
  min-width: 10ch;
  padding: 2%;
  margin: .7rem .5rem;
  border-radius: 10px;
  text-align: end;
  word-wrap: break-word;

}

.message-container{
  text-decoration: none;
  font-size: calc(.7rem + .2vw + .2vh);
  color: white;
  display: flex;
  flex-direction: column;
}

.timestamp{
  font-size: calc(.5rem + .2vw + .2vh);
  color: grey;
  margin-top: .8em;
  margin-left: 1em;
}

.user{
  color: gray;
  text-align: start;
}

.message{
  margin-top: 10px;
}

.input-area{
  height: 7%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
  background-color: black;
  border-radius: 10px;
  padding: 2%;
  min-height: 50px;

}

.input-area > input {
  height: 100%;
  width: 70%;
  border-radius: 10px;
  padding: 0 .5rem ;
  margin-left: 1rem;
  border: none;
  background-color: black;
  color: white;
}

.input-area > input:focus{
  border: none;
  outline: none;
}

.input-area > button {
  height: 100%;
  width: 30%;
  border-radius: 10px;
  border: none;
  background-color: var(--dark-backround);
  
}

.chat-header{
  margin: .8em;
  text-align: center;
  color: whitesmoke;
  border-bottom: 2px solid whitesmoke;
  overflow-wrap: break-word;
  
}

.scroll-down{
  height: 0;
  width: 0;
  visibility: hidden;
  overflow: hidden;
}


