/* Container for the landing page */
.landing-page-container{
    height: calc(100vh - 70px);
    background-color: var(--dark-backround);
    background-image: linear-gradient( var(--dark-backround), var(--main-color));
    overflow: hidden;
}


/* Styling for decorative lines */
.landing-page-container .line {
    top: 70px;
    height: calc(100vh - 70px);
    z-index: 1;
    pointer-events: none;
}

/* Pulsing button styling */
.pulsingButton {
    
    max-width: 200px;
    height: 200px;
    text-align: center;
    white-space: nowrap;
    display: block;
    margin: 200px auto;
    padding: 10px;
    box-shadow: 0 0 0 0 rgba(5, 55, 123, 0.7);
    border-radius: 50%;
    background-color: var(--secondary-color);
    -webkit-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    font-size: 22px;
    font-weight: normal;
    font-family: sans-serif;
    text-decoration: none;
    color: #ffffff;
    transition: all 300ms ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  
  /* Stops the pulsing animation on hover */
  .pulsingButton:hover {
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    animation: none;
    color: #ffffff;
  }
  
  /* Keyframes for pulsing animation (for modern browsers) */
  @-webkit-keyframes pulsing {
    to {
      box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
    }
  }
  
  @-moz-keyframes pulsing {
    to {
      box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
    }
  }
  
  @-ms-keyframes pulsing {
    to {
      box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
    }
  }
  
  @keyframes pulsing {
    to {
      box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
    }
  }
  