.main-body{
    padding: 10px;
    display: flex;
    max-height: 100vh;
    background-color: var(--very-dark-backround);
    height: calc(100vh - 70px);
    overflow: hidden;
   }
  
  @media (max-width: 750px) {
    .main-body {
      flex-direction: column;
      align-items: center;
    }
}