.main-body{
    padding: 2rem;
    display: flex;
   }
  
  @media (max-width: 750px) {
    .main-body {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
}