

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-backround);
    color: #fff;
    padding: 1rem;
  
    height: 70px;
    min-height: 70px;
    
  }
  
.navbar-left .logo > img {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    width: auto;
    height: 50px;
    padding: 5px;
  }
  

  
.navbar-right {
    display: flex;
    align-items: center;
  }
  

.navbar-right .user-icon {
    color: #fff;
    text-decoration: none;
    margin-left: 1rem;
    position: relative;
  }
  


  @media screen and (max-width: 768px) {
    .navbar-center {
        display: none; /* Hide the navbar center contents */
    }
  }


.navbar-profile-pic{
  text-align: center;
  height: 80%;
  width: 110px;
}