.profile-form{
    height: auto;
    width: auto;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 600px) {
    .profile-form {
        width: 95%;
    }

    
}

.profile-form *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
    margin: 10px;
}



.profile-form h1{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

.sign-out-btn,
.main-menu-btn
{

    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.25s;
  
    &:hover,
    &:focus { 
    color: #fff;
    box-shadow: inset 0 0 0 2em var(--main-color);
  }
}

.main-menu-btn > *{
    color: #080710;
    text-decoration: none;
    &:hover,
    &:focus { 
    color: #fff;
  }
}