.sign-form{
    height: auto;
    width: auto;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
    display: flex;
    flex-direction: column;
    
}

@media (max-width: 600px) {
    .sign-form {
        width: 95%;
    }

    
}

.sign-form *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}


.sign-form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
.sign-input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
.sign-input::placeholder{
    color: #e5e5e5;
}
.sign-in-btn,
.register-btn{
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.25s;
  
    &:hover,
    &:focus { 
    color: #fff;
    box-shadow: inset 0 0 0 2em var(--main-color);
  }
}

.social{
    margin-top: 30px;
    display: flex;
    align-items: center;
}
.social div{
    
    width: 150px;
    border-radius: 3px;
    padding: 5px 10px 10px 5px;
    background-color: rgba(255,255,255,0.27);
    color: #eaf0fb;
    text-align: center;
    
}
.social div:hover{
    background-color: rgba(255,255,255,0.47);
    
}


.social .fb{
    margin-left: 25px;
    
    &:hover{
        background-color: #4285F4;
    }
}

.social .go{
    
    &:hover{
        background-color: red;
    }
}
.social i{
    margin-right: 4px;
    
    
}


.already{
    margin-top: 30px;
}




.lines {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    margin: auto;
    width: 90vw;
  }
  
  .line {
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    left: 50%;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
  }
  
  .line::after {
    content: '';
    display: block;
    position: absolute;
    height: 15vh;
    width: 100%;
    top: -50%;
    left: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
    animation: drop 7s 0s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
  }
  
  .line:nth-child(1) {
    margin-left: -25%;
  }
  
  .line:nth-child(1)::after {
    animation-delay: 2s;
  }
  
  .line:nth-child(3) {
    margin-left: 25%;
  }
  
  .line:nth-child(3)::after {
    animation-delay: 2.5s;
  }
  
  @keyframes drop {
    0% {
      top: -50%;
    }
    100% {
      top: 110%;
    }
  }

