:root {
    --blue: #3d52a0;
    --medium-blue: #7091e6;
    --grey: #8697c4;
    --light-grey: #adbbda;
    --light-bez: #ede8f5;
  }

.video-call{
    width: 80%;
    background-color: var(--blue);
    margin: 20px;
    border: var(--light-bez) 5px solid;
    border-radius: 10px;
}