:root {
    --blue: #3d52a0;
    --medium-blue: #7091e6;
    --grey: #8697c4;
    --light-grey: #adbbda;
    --light-bez: #ede8f5;
  }

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

.video-call{
    width: 70%;
    background-color: var(--light-bez);
    margin: 20px;
    border: white 10px solid;
    border-radius: 10px;
    box-shadow: 0px 5px 10px grey;
    flex-shrink: 1;
    min-width: 200px;
}

.video-call > video {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

@media (max-width: 970px) {
  .video-call {
    width: 100%;
    min-width: 300px;
  }
}

