:root {
    --blue: #3d52a0;
    --medium-blue: #7091e6;
    --grey: #8697c4;
    --light-grey: #adbbda;
    --light-bez: #ede8f5;
  }

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

.video-call{
    width: 70%;
    background-color: var(--blue);
    margin: 20px;
    border: var(--light-bez) 5px solid;
    border-radius: 10px;
    
}

.video-call > video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

