.video-call{
    margin: 20px;
    border-radius: 10px;
    flex-shrink: 1;
    min-width: 200px;
    width: 70%;
    max-width: 1920px;
    display: block;
    background-color: var(--dark-backround);
    padding: 20px;
}

.video-call > .video {
  width: 100%;
  height: 100%;
}

.controls {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 50px;
  justify-content: flex-end;
  align-items: center;

}

.controls button {
  margin-right: 5px;
  height: 70%;
  background: none;
  border: none;
}

.controls button:hover{
  transform: translateY(-5px);
}

@media (max-width: 750px) {
  .video-call {
    width: 100%;
    height: 100%;
    max-height: 100%;
  }
}

