.video-call{
  position: relative;
    width: 70%;
    background-color: var(--light-bez);
    margin: 20px;
    border: white 10px solid;
    border-radius: 10px;
    box-shadow: 0px 5px 10px grey;
    flex-shrink: 1;
    min-width: 200px;
    /* overflow: hidden; */
}

.video-call > video {
  width: 100%;
  height: 100%;
  object-fit: cover;


}

.controls {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.controls button {
  margin-right: 5px;
}

@media (max-width: 750px) {
  .video-call {
    width: 100%;
  }
}

